.star {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.star svg {
  position: relative;
  top: 0;
  left: 0;
  transition: all 0.3s;
  fill: white;
}

.star svg:hover {
  transform: scale(1.1);
}

<<<<<<< HEAD
.star.active > svg {
=======
.star input:checked ~ svg {
>>>>>>> 4260dda7b27845548092ddf2a2ad691bfa227229
  fill: #86f54e;
  color: #86f54e;
}
